<%- include("./partials/header.ejs",{user}) -%>
<header>
  <h1>LogIn Using:</h1>
</header>

<main>
  <a href="/auth/google" class="google-btn">Google+</a>
</main>
<%- include("./partials/footer.ejs") -%>
